{% extends 'base.html' %}
{% block title %}
Post List
{% endblock %}

{% block body %}

  <div class="container mb-5" style="margin-top: 5rem;">
    <h1 class="mb-4">Post List</h1>

    {% if messages %}
    {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible fade show" rold="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    {% endfor %}
    {% endif %}

    {% for post in posts %}
    <div class="card mb-4">
      <div class="card-body" onclick="window.location = '/blog/detail/{{ post.id }}/'">
        <h5 class="card-title"> {{ post.title }} </h5>
        <p class="card-text"> {{ post.body }} </p>
        <p class="card-text">
          <small>By Aung Aung, {{ post.created_at }}</small>
        </p>
      </div>
    </div>
    {% endfor %}
  </div>


{% endblock %}