{% extends 'base.html' %}
{% block title %}
Post Create
{% endblock %}

{% block body %}

<div class="container mt-5 pt-5 mb-5">
  <div class="card">
    <h1 class="card-title mb-4">Post Create</h1>
    <div class="card-body" style="width: 500px;">
      <form action="/blog/create/" method="post">
        {% csrf_token %}
        <div class="col-12">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" name="title" placeholder="title" required>
        </div>
        <div class="col-12">
          <label for="body" class="form-label">Body</label>
          <input type="text" class="form-control" name="body" placeholder="body" required>
        </div>
        
        <div class="col-12">
          <label class="form-label">Category</label>
          <select class="form-select" name="category">
          {% for i in category %}
          <option value="{{ i.id }}"> {{ i.name }} </option>
          {% endfor %}
          </select>
          </div>
          <div class="col-12">
          <label class="form-label">Image</label>
          <input type="file" name="image" class="form-control">
        </div><br>

        <div class="col-12">
          <label for="Create_at" class="form-label">Create_at</label>
          <input type="datetime-local" class="form-control" name="created" required>
        </div>
        <br>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}